.actions-container {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    background-color: #0b1239f3;
    width: 40%;
    display: flex;
    justify-content: space-around;
    height: 70px;
    border-radius: 20px 20px 0 0;
    overflow: visible;
}

.action-button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    overflow: visible; 
    z-index: 10;
    transition: background-color 0.2s ease-in-out;
    width: 100px;
    height: 100px;
}

.mine-button {
    background-color: #fbc02d;
    color: black;
}

.mine-button:hover {
    background-color: #ff9800;
}

.teleport-button {
    background-color: #03a9f4;
    color: white;
}

.teleport-button:hover {
    background-color: #0288d1;
}
