/* ---------- Police ---------- */
@font-face {
    font-family: "cowboy";
    src: url("../assets/farwest.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ---------- Style Général ---------- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #0d0d3b, #2c0075);
    color: white;
    font-family: "cowboy", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* ---------- Animation ---------- */
.fade-in {
    opacity: 0;
}

.fade-in.is-visible {
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ---------- Header Index.html ---------- */
header {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour la barre de défilement (compatible Webkit - Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar */
    height: 10px; /* Hauteur pour scroll horizontal */
}

/* Couleur de fond de la scrollbar */
::-webkit-scrollbar-track {
    background: #1c2541;
    border-radius: 5px;
}

/* Barre qui défile */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #E09D2D, #8B672B);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

/* Effet hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #C08625, #754D1F);
}

/* Scrollbar pour Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #E09D2D #1c2541;
}

/* ---------- Media Queries ---------- */
/* Tablettes */
@media screen and (max-width: 1024px) {
    header {
        height: 60vh;
    }
}

/* Grands smartphones */
@media screen and (max-width: 768px) {
    header {
        height: 50vh;
    }
}

/* Smartphones */
@media screen and (max-width: 480px) {
    header {
        height: 40vh;
    }
    
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
}
