.headerLobby {
  background-image: url('../assets/bg-lobby.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbyContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  margin-top: 7%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .lobbyContent {
    height: 200%;

    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .PlayerList {
    height: 40%;

    width: 80% !important;
    left: 10%;
  }
}

.PlayerList {
  background-color: rgba(11, 18, 57, 0.63);
  backdrop-filter: blur(10px);
  border-radius: 25px;

  width: 30%;
  height: 75%;

  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.PlayerList .LobbyTitle {
  font-size: 48px;
  border-bottom: #817D7D 0.25px solid;
  padding-bottom: 10px;

  height: 15%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Player {
  border-bottom: #817D7D 0.25px solid;
  padding-bottom: 10px;
  display: flex;

  width: 100%;
  height: 15%;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 24px;

  align-items: center;
  justify-content: space-between;
}

.ChatButton {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #FFFFFF;
  font-family: cowboy;
  font-size: 12px;

  height: 35px;
  width: 75px;

  background-color: #1E6E00;
  border: #2A830C 2px solid;
  border-radius: 5px;
}

.ChatButton:hover {
  background-color: #2A830C;
  cursor: pointer;
}

/* ---------- Artefacts List ---------- */

.ArtefactsList {
  background-color: rgba(11, 18, 57, 0.63);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  height: 45%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  justify-items: center;
  align-items: center;

  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.ArtefactsListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .ArtefactsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    left: 10%;
  }

  .ArtefactsListContainer {
    width: 80%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

.Artefact {
  background: linear-gradient(#8B672B, #E09D2D);
  border-radius: 25px;
  position: relative;

  width: 165px;
  height: 165px;

  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  transition: 0.5s;
}

.Artefact:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.Artefact .ArtefactInfo {
  position: absolute;
  top: 5%;
  right: 5%;
}

.Artefact .ArtefactImage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Artefact p {
  font-size: 22px;

  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------- Options Panel ---------- */

.GameInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

@media (max-width: 768px) {
  .GameInfo {
    width: 100%;
    margin-top: 50px;
  }
}

.OptionsPanel {
  background-color: rgba(11, 18, 57, 0.63);
  backdrop-filter: blur(10px);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 25px;
}

@media (max-width: 768px) {
  .OptionsPanel {
    width: 80%;
    left: 10%;
  }
}

.OptionsList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 80%;
}

.Option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  position: relative;
}

.Option img {
  position: absolute;
  width: 20px;
  right: 8px;
  bottom: 2px;
  transform: translateY(-50%);
  cursor: pointer;
}

.OptionsList input, .OptionsList select {

  background-color: #17141d;
  border: none;
  border-radius: 15px;
  outline: none;
  width: 100%;

  color: #FFFFFF;
  font-family: cowboy, sans-serif;
  font-size: 2vh;
  text-align: center;
  padding: 15px;

  overflow-x: clip;
  scrollbar-width: none;

  -moz-appearance: textfield
}

.OptionsList input::-webkit-outer-spin-button, .OptionsList input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.OptionsPanel label {
  font-size: 1.5vh;
  margin-bottom: 10px;
  text-align: left;
}

.disabled-input {
  cursor: not-allowed;
  opacity: 0.75;
}

.SubmitOptions {
  width: 25%;
  height: 50px;
  margin-bottom: 50px;

  font-family: cowboy, sans-serif;
  color: #FFFFFF;
  font-size: 2vh;

  border: none;
  border-radius: 10px;
  border-bottom: solid 5px #FFFFFF;
  cursor: pointer;
}

.SubmitOptions:hover {
  border-bottom: solid 2px #FFFFFF;
  transition-duration: 300ms;
}

/* ---------- Start Button ---------- */

.startButton{
  width: 35%;
  height: 75px;
  margin-top: 25px;

  font-family: cowboy, sans-serif;
  color: #FFFFFF;
  font-size: 3vh;
  padding: 15px;
  background-color: #17141d;

  border: none;
  border-radius: 15px;
  border-bottom: solid 8px #f1b24a;
  cursor: pointer;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.startButton:hover {
  border-bottom: solid 4px #f1b24a;
  transition: 300ms;
}